body{
    background-color: white;
}

nav{
    //  background-color: blue;
    margin: 10px 10px 0px 10px;
}



.button {

    /*Step 2: Basic Button Styles*/
    float: right;
    position:absolute;
    right:230px;
    top:25px;
    display: block;
    height: 30px;
    width: 100px;
    background: #ddd;
    border: 2px solid rgba(0, 0, 0, 0);

    /*Step 3: Text Styles*/
    color: white;
    text-align: center;
    font: normal 1.5em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, background, background);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, 0, 0);
    background: -ms-linear-gradient(top, 0, 0);
    background: linear-gradient(top, #34696f, #2f5f63);

    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;

    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;

    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

/*Step 3: Link Styles*/

.button1 {

    /*Step 2: Basic Button Styles*/
    float: right;
    position:absolute;
    right:110px;
    top:25px;
    display: block;
    height: 30px;
    width: 100px;
    background: crimson;
    border: 2px solid rgba(0, 0, 0, 0);

    /*Step 3: Text Styles*/
    color: white;
    text-align: center;
    font: normal 1.5em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, background, background);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, 0, 0);
    background: -ms-linear-gradient(top, 0, 0);
    background: linear-gradient(top, #34696f, #2f5f63);

    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;

    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;

    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}

.button2 {

    /*Step 2: Basic Button Styles*/
    float: right;
    position:absolute;
    right:120px;
    top:200px;
    display: block;
    height: 30px;
    width: 140px;
    background: #cccccc;
    border: 2px solid rgba(0, 0, 0, 0);

    /*Step 3: Text Styles*/
    color: white;
    text-align: center;
    font: normal 1.5em/25px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: -webkit-linear-gradient(top, background, background);
    background: -moz-linear-gradient(top, white, #2f5f63);
    background: -o-linear-gradient(top, 0, 0);
    background: -ms-linear-gradient(top, 0, 0);
    background: linear-gradient(top, #34696f, #2f5f63);

    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;

    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;

    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

}

nav ul{
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
    text-align: left;
}

nav ul li{
    display: inline;
    padding: 5px 0px 5px 10px;
    font-size: 25px;
    margin: 20px 20px;
}

nav ul li a:link{
    color: activecaption;
    border-bottom: none;
    font-weight: bold;
    text-align: left;

}

nav ul li a:visited{
    color: purple;
    border-bottom: none;
    font-weight: normal;
}

nav ul ll a:hover{
    background-color: aqua;
}

img.logo{
    display: black;
    margin-right: auto;
    margin-left: auto;
    width: 15%;
    height: auto;
}



h1.center{
    // text-align: auto;
    font-weight: bolder;
}
hd.right{
    text-align: right;
}



#primary_nav_wrap
{
    margin-top:15px
}

#primary_nav_wrap ul
{
    color : white;
    list-style:none;
    position:relative;
    float:left;
    margin:0;
    padding:0

}

#primary_nav_wrap ul a
{
    display:block;
    color:white;
    text-decoration:none;
    font-weight:200;
    font-size:15px;
    line-height:25px;
    padding:0 30px;
    font-family:"HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;

}

#primary_nav_wrap ul li
{
    background-color: #6666ff;
    color:white;
    position:relative;
    float:left;
    font-weight: normal;
    margin:0;
    padding:auto;

}

#primary_nav_wrap ul li.current-menu-item
{
    background: olive;

}

#primary_nav_wrap ul li:hover
{
    background: #3300cc;
}

#primary_nav_wrap ul ul
{
    background-color: #6666ff;
    display:none;
    position:absolute;
    top:100%;;
    left:0;
    background: #6666ff;
    padding:0;
}

#primary_nav_wrap ul ul li
{
    background-color:#6666ff;
    float:none;
    width:300px;
}

#primary_nav_wrap ul ul a
{
    background-color:#6666ff;
    color : white;
    font-weight: normal;
    line-height:100%;
    padding:10px 15px;
}

#primary_nav_wrap ul ul ul
{
    background-color:#6666ff;
    top:0;
    left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;

}


#pqd {
    margin-top: 0.5em;
    background: buttontext;
    padding: 1em;
    text-align: center;
    background-color: background;
}



#bd {
    margin-top: 0.5em;
    background: white;
    padding: 1em;
}

#ft {
    background: #222222;
    clear: both;
    padding: 1em;
    text-align: center;
    color: white;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

.post {
    margin: 18px;
    border: 1px solid darkblue;
    padding: 8px;
    background: #dddddd;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #888888;
}

#postContent {
    margin: 1em;
    font-size: large;
    width: 90%;    
}

.postAuthor {
    font-weight: bold;
}

.postImage {
    margin: 0.5em;
    float: left;
}

.postEntry {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-left: 3em;
    font-size: larger;
    border-top: 1px solid lightslategray;

}

.postText a {
    font-weight: bold;
    text-decoration: none;
}

.postDate {
    font-size: smaller;
}

form {
    margin: 8px;
    padding: 8px;
    background-color: #eeeeee;
}

.formElement {
    margin: 4px;
    padding: 4px;
}

.flash {
    color: red;
}

table.imagetable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;

    background: #dddddd;
    border-width: 0.5px;
    border-color: #999999;
    border-collapse: collapse;

}
table.imagetable th {
    background:#b5cfd2;
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}
table.imagetable td {
    background:#dddddd;
    border: 1px solid darkblue;
    border-radius: .5em;
    box-shadow: 10px 10px 5px #888888;
    border-width: 2px;
    padding: 8px;
    border-style: groove;
    border-color: #999999;
}







